@import url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    width: 100%;
    height: 100%;
    font-family: 'Apple SD Gothic Neo', sans-serif;
    background-color: white;
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,ol {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

button {
    border: none;
    cursor: pointer;
    background: none;
    font: inherit;
}

input,textarea,select {
    font: inherit;
}